* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: JetBrains Mono, sans-serif;
  font-weight: bold;
}

body {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
}

.effect {
  background: linear-gradient(
    to right,
    #1f8ff8,
    #b2d3e9,
    #8c00ff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
